<div class="card mb-3">

  <div class="list-group">
    <a href="/dashboard" class="list-group-item list-group-item-action <%- page==='dashboard' ? 'active': '' %>">Dashboard</a>
    <a href="/article/create" class="list-group-item list-group-item-action <%- page==='editor' ? 'active': '' %>">Create Article</a>
    <a href="/article" class="list-group-item list-group-item-action <%- page==='articles' ? 'active': '' %>">Articles</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus</a>
  </div>


</div>