<div class="card col-lg-6 mx-auto mt-5">
  <div class="card-body">
    <h4 class="card-title text-center">Login</h4>
    <%- include('./partials/_error_messages.ejs') %>
      <p class="card-text">
        <form action="/auth/register" method="POST">
          <fieldset>

            <div class="form-group">
              <label for="displayName" class="form-label mt-1">User Name</label>
              <input type="text" class="form-control" name="displayName" id="email" aria-describedby="display name" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label for="email" class="form-label mt-1">Email</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="password" class="form-label mt-1">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="password2" class="form-label mt-1">Retype Password</label>
              <input type="password" class="form-control" id="password2" name="password2" placeholder="Retype Password">
            </div>
            <div class="form-group">
              <button type="submit" class="btn form-control btn-primary my-3">Register</button>
              <a href="/auth/login" class="card-link">Already have an account? Login</a>
            </div>
          </fieldset>
        </form>
      </p>
  </div>
</div>